Log4Grid.Config/Log4GridSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Log4Grid.Config" elementFormDefault="qualified" targetNamespace="urn:Log4Grid.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="log4GridSection" type="tns:Log4Grid.Config.Log4GridSectionCT" />
	<xs:complexType name="Log4Grid.Config.Log4GridSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="management" type="tns:Log4Grid.Config.ManagementHandlerCT">
				<xs:annotation>
					<xs:documentation>The Management.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="logStore" type="tns:Log4Grid.Config.ManagementHandlerCT">
				<xs:annotation>
					<xs:documentation>The LogStore.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="logSearch" type="tns:Log4Grid.Config.ManagementHandlerCT">
				<xs:annotation>
					<xs:documentation>The LogSearch.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="user" type="tns:Log4Grid.Config.ManagementHandlerCT">
				<xs:annotation>
					<xs:documentation>The User.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Log4Grid.Config.ManagementHandlerCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="properties" type="tns:Log4Grid.Config.PropertyCollectionCT">
				<xs:annotation>
					<xs:documentation>The Properties.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Log4Grid.Config.PropertyCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Log4Grid.Config.PropertyCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="property" type="tns:Log4Grid.Config.PropertyCT">
				<xs:annotation>
					<xs:documentation>The Property Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
