Log4Grid.Service/LogServerSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Log4Grid.Service" elementFormDefault="qualified" targetNamespace="urn:Log4Grid.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="logServerSection" type="tns:Log4Grid.Service.LogServerSectionCT" />
	<xs:complexType name="Log4Grid.Service.LogServerSectionCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="host" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="workThreads" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The WorkThreads.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
